div.weather-section-container {
    background-color: white;
    width: 100%;
    height: 100%;
}

div.current-weather-container{
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.current-weather-icon {
    width: 35%;
    margin-top: 10%;
}

div.weather-forecast-container {
    display: flex;
    justify-content: space-evenly;
}

div.weather-day-forecast {
    background-color: rebeccapurple;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-color: lightgrey;
    border-radius: 10px;
}

img.forecast-weather-icon {
    width: 100%
}

p.current-weather-temp {
    font-size: 7vh;
    margin: 0;
}