.home-component-container {
    height: 100%;
    width: 100%;
}

.home-content {
    height: 90vh;

    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.info-container {
    width: 42.5%;
    height: 40%;
    overflow: hidden;
    border-radius: 1vh;
    margin: 0;
    margin-left: 16%;
    background-color: transparent;
    position: absolute;
    top: 33%;
    right: 48.2%;
    z-index: 1;
}

.laptop-image-container {
    width: 43.2%;
    height: 41.7%;
    overflow: hidden;
    border-radius: 2vh;
    margin: 0;
    margin-left: 16%;
    background-color: transparent;
    position: absolute;
    top: 33%;
    right: 47.8%;
    z-index: 0;
}


img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    transition: opacity 1s ease-in-out;
}

img.bottom {
    filter: brightness(40%);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: black;
    font-size: 4vh;
}

.header {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.info-content-container {
    display: flex;
    justify-content: center;
    background-color: white;
    opacity: 0.6;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    text-align: justify;
}

button.register-button, button.contact-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #088D0E;
    height: 3vh;
    width: 10vh;
    border-color: transparent;
    border-radius: 10vh;
    color: white;
    font-size: 2vh;
    transition: 0.7s;
    margin: 2%;
}

button.register-button:hover {
    cursor: pointer;
    background-color: #8CB7D9;
}

p.info-content {
    font-size: 2vh;
}

.info-footer {
    display: flex;
    justify-content: center;
}

.laptop-logo-container {
    width: 43.2%;
    height: 41.7%;
    overflow: hidden;
    border-radius: 2vh;
    margin: 0;
    margin-left: 16%;
    background-color: transparent;
    position: absolute;
    top: 33%;
    right: 47.8%;
    z-index: 1;
    transition: 1s;
}

.laptop-logo-container:hover {
    opacity: 0;
}