<div class="home-component-container">
    <div class="navbar-container">
        <app-navbar></app-navbar>
    </div>
    <div class="home-content">
        <img src="../../../assets/Backgrounds/home_background4.png" alt="">
        <div class="info-container">
            <div class="header">
                <a href="https://www.fontspace.com/category/leaf"><img src="https://see.fontimg.com/api/renderfont4/nRy60/eyJyIjoiZnMiLCJoIjo3NSwidyI6MTUwMCwiZnMiOjUwLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/VGFrZSBDYXJlIE9mIFlvdXIgQWdyaWN1bHR1cmU/tropical-taste-demo.png" alt="Leaf fonts"></a>
            </div>
            <div class="info-content-container">
                <p class="info-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In vero corrupti ea dolor quis nemo ullam. Hic at magni quis fugit blanditiis, reprehenderit unde laborum quibusdam. Voluptatibus aperiam aliquid culpa, facere labore eligendi, nam rem earum, impedit iste tempore est!</p>
            </div>
            <div class="info-footer">
                <button class="contact-button">Contact</button>
                <button class="register-button">Register</button>
            </div>
        </div>
        <div class="laptop-image-container">
            <img src="../../../assets/Backgrounds/laptop_background.jpg" class="bottom" alt="">
        </div>
        <div class="laptop-logo-container">
            <img src="../../../assets/Backgrounds/laptop_logo_background.jpg" class="top" alt="">
        </div>
    </div>
</div>
