.navbar-content {
    display: flex;
    width: 100%;
    height: 10vh;
}

.left-section {
    display: flex;
    width: 50%;
}

.right-section {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.nav-menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-button {
    text-align: center;
    margin-right: 10%;
    font-size: 3vh;
    transition: 0.7s;
}

.nav-button-selected {
    color: #10C75B;
    font-size: 4vh;
    border-bottom: solid 1vh #10C75B;
}

.nav-button:hover {
    cursor: pointer;
    color: #10C75B;
    font-size: 4vh;
    border-bottom: solid 1vh #10C75B;
}

div.logo-container{
    height: 9vh;
    width: 15vh;
    margin: 0;
}

img.logo-img{
    width: 100%;
    height: 100%;   
    object-fit: contain;
}

button.social-media-button{
    width: 5vh;
    height: 5vh;
    background-color: #10C75B;
    border-radius: 50%;
    border-color: transparent;
    margin-right: 1vh;
    font-size: 20px;
    transition: 0.7s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.social-media-button:hover {
    background-color: #33B9DE;
    color: white;
    cursor: pointer;
}

button.logout-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #10C75B;
    height: 5vh;
    width: 12vh;
    border-color: transparent;
    border-radius: 10vh;
    color: white;
    font-size: 2vh;
    transition: 0.7s;
    margin-right: 1vh;
}

button.logout-button:hover {
    background-color: #33B9DE;
    cursor: pointer;
}

i {
    font-size: 2vh;
}