<div class="navbar-content">
    <div class="left-section">
        <div class="logo-container">
            <img src="../../assets/Logo/logo.jpg" alt="" class="logo-img">
        </div>
        <div class="nav-menu-buttons">
            <div class="nav-button" routerLink="">Home</div>
            <div class="nav-button" routerLink="contact">Contact</div>
            <div class="nav-button" routerLink="register">Client panel</div>
        </div>
    </div>
    <div class="right-section">
        <button class="social-media-button facebook-button"><i class="fa fa-facebook socials"></i></button>
        <button class="social-media-button ig-button"><i class="fa fa-instagram socials"></i></button>
        <button class="logout-button" routerLink="login">Log In</button>
        <button class="logout-button">Register</button>
    </div>
</div>
