div.devices-page{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div.fields-map-container{
    width: 400px;
    height: 400px;
    overflow: hidden;
}

button{
    font-size: 4vh;
    height: 5vh;
    width: 5vh;
    border-radius: 30px;
    border-color: transparent;
    background-color: white;
    color: #10C75B;
    cursor: pointer;
    margin-left: 1vw;
    margin-right: 1vw;
    font-family: "Sofia", sans-serif;
}

button:hover{
    background-color: #10C75B;
    color: white;
    transition: 0.7s;
}

div.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.manage-devices-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.manage-devices-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(238, 236, 236);
    width: 85vw;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
}

div.left-side-content {
    background-color: #33B9DE;
    width: 30%;
    height: 100%;
}

div.fields-map-container {
    width: 70%;
    height: 100%;
    overflow: hidden;
}

div.header {
    color: white;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid white;
    justify-content: space-around;
    text-align: center;
}

p.title {
    font-size: 5vh;
    margin-left: 1vw;
    margin-top: 2vh;
}