.rain-preview-chart-container {
    background-color: white;
    transition: 0.7s;
}

.rain-preview-chart-container:hover {
    scale: 1.4;
    cursor: pointer;
}

.rain-label {
    color: #008FFB;
    font-size: 13pt;
}

.icon-container {
    height: 10vh;
}

img {
    width: 100%;
    height: 100%;
}

p {
    text-align: center;
    color: #008FFB;
}