.top-navbar-container {
    width: 100vw;
    height: 10vh;
    background-color: #33B9DE;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    height: 10vh;
    width: 10vh;
}

img.logo {
    width: 100%;
    height: 100%;
}

div.navbar-content {
    width: 40%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 4vw;
}

.top-bar-icon {
    color: white;
    font-size: 4vh;
    height: 4vh;
    width: 4vh;
    margin: 2vh;
    cursor: pointer;
    transition: 0.3s;
}

.top-bar-icon-notification {
    color: white;
    font-size: 4vh;
    height: 4vh;
    width: 4vh;
    cursor: pointer;
    transition: 0.3s;
}

.top-bar-icon:hover {
    scale: 1.4;
}

.user-name {
    font-size: 3vh;
    color: white;
    margin-right: 2vw;
    margin-top: 2vh;
}

.notification-number-container {
    position: relative;
    right: 7%;
    top: -20px;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background-color: #10C75B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-of-notifications {
    color: white;
    margin: 0;
    font-size: 1vh;
    cursor: pointer;
}

button{
    font-size: 2vh;
    height: 5vh;
    width: 10vw;
    border-radius: 30px;
    border-color: transparent;
    background-color: white;
    color: #10C75B;
    cursor: pointer;
    margin-left: 1vw;
    margin-right: 1vw;
    font-family: "Sofia", sans-serif;
}

button:hover{
    background-color: #10C75B;
    color: white;
    transition: 0.7s;
}