<div class="top-navbar-container">
    <div class="logo-container">
        <img class="logo" src="../../../../assets/Logo/logo-navbar.jpg" alt="">
    </div>
    <div class="navbar-content">
        <p class="user-name">Jan Kowalski</p>
        <div class="top-bar-icon">
            <mat-icon class="top-bar-icon-notification">notifications</mat-icon>
            <div class="notification-number-container">
                <p class="number-of-notifications">20</p>
            </div>
        </div>
        
        <mat-icon class="top-bar-icon">settings</mat-icon>
        
    </div>
</div>